# Database Configuration
DATABASE_URL="postgres://postgres:postgres@localhost:5432/cryptosense"
JWT_SECRET="abc" # generate using node -e "console.log(require('crypto').randomBytes(32).toString('base64'));"

# PostgreSQL Native Environment Variables
PGHOST="localhost"
PGPORT="5432"
PGUSER="postgres"
PGPASSWORD="postgres"
